<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="generatereport.Listeners"></listener>
	</listeners>
  <test thread-count="5" name="Test">
  <parameter name="browser" value="Chrome"></parameter>
    <classes>
     <class name="testscript.ManageCategoryTest"/>
      <class name="testscript.AdminUsersTest"/>
      
      <class name="testscript.LogOutTest"/>
      <class name="testscript.ManageDeliveryBoyTest"/>
      <class name="testscript.ManageLocationTest"/>
      <class name="testscript.LoginTest"/>
      <class name="testscript.ManageNewsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
